<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Forget Password Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p>Hello,<br/><br/>Welcome to GreatGames !
        <br/>
        You have requested a password reset, please follow the link below to
        reset your password.<br/>
        Please ignore this email if you did not request a password change.<br/>
        <br/>
        <br/>
        <a th:href="@{${link}}">Click here</a>

    </p>
</div>
</body>
</html>